
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap" rel="stylesheet">

    <!-- <link rel="stylesheet" href="../static/css/styles.css"> -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/styles.css') }}">
    <title>JavaScript game</title>
  </head>

  <body>

    <div id="container">

        <div id="header">
            <h1>Breakout</h1>

            <div id="divbutton">
              <button id="button" onclick="game()">The game</button>
              <button id="button" onclick="winners()">Highscores</button>
            </div>

        </div> <!--header loppuu-->

        <div id="mainContent">

            <div id="firstTab" class="gameTab">

              <div id="startButton">
                <button id="button" onclick="startGame()">START</button>
              </div> <!--startButton loppuu-->
                
              <div id="divcanvas">
                <canvas id="canvas"></canvas>
              </div> <!--divcanvas loppuu-->

            </div> <!--firstTab loppuu-->

            <div id="secondTab" class="scoreTab">

                <div id="divTable">
                  <table id="table">
                    <tr>
                      <th>Highscores</th>
                    </tr>
                    <tr>
                      <td class="high-score1">0</td>
                    </tr>
                    <tr>
                      <td class="high-score">0</td>
                    </tr>
                    <tr>
                      <td class="high-score">0</td>
                    </tr>
                  </table>
                </div> <!--divTable loppuu-->

                <div class="reset">
                  Reset score
                </div>

            </div> <!--secondTab loppuu-->

        </div> <!--mainContent loppuu-->

    </div> <!--container loppuu-->


    <!-- <script src="../static/index.js"></script> -->
    <script src="{{ url_for('static',filename='index.js') }}"> </script>

  </body>

</html>